/* global classes  may b*/
.fonts{
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.color-1{
    color: black;
}

body    {
    background-color: bisque;
    margin: 0px;
    padding: 0px;
}

.flex-box{
    background-image: linear-gradient(to bottom, rgba(5, 0, 0, 0.61),rgba(7, 0, 0, 0.596)), url(images/top-b-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 500px;
    margin: auto;
    padding: auto;
    width: 100%;
    
}

.text-format-head{
    align-items: center;
    color: aqua;
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px black;
    word-spacing: 5px;

}

.h1-format{
    padding-top: 2%;
}
.text-format-para{
    align-items: center;
    color: aliceblue;
    display: flex;
    font-size: 15px;
    height: 50%;
    justify-content: center;
    padding-left: 25%;
    text-align: center;
    text-shadow: 2px 2px black;
    width: 50%;
}



.button-top{
    align-items: center;
    background-color: rgba(112, 38, 182, 0.849);
    border-radius: 10px;
    border-width: 0px;
    color: azure;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    justify-content: center;
    margin-left: 43%;
    text-align: center;
    width: 150px;
}

.rm-link-line{
    text-decoration-line: none;
}

/* section-two--donate-now */
.flex-box-2{
    align-items: center;
    display: block;
    justify-content: center;
}

.d-amount-box{
    border-radius: 5px;
    display: inline-block;
    padding-left: 14%;
    padding-top: 20px;
}
.d-buttons{
    background-color: bisque;
    border-radius: 2px;
    border-width: 1px; 
    color:rgb(57, 131, 106);
    font-size: 20px;
    font-weight: 600;
    height: 80px;
    margin-inline: 20px;
    padding: 30px;
    text-align: center;
    width: 150px  
}

.text-format-head-2{
    align-items: center;
    color: rgb(5, 20, 20);
    display: flex;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    padding-top: 5%;
    text-shadow: 1px 1px black;
    word-spacing: 5px;

}

.text-format-para-2{
    align-items: center;
    color: rgb(38, 74, 104);
    display: flex;
    font-size: 18px;
    height: 50%;
    justify-content: center;
    padding-left: 25%;
    text-align: center;
    text-shadow: 1px 1px black;
    width: 50%;
}

.amount-box{
    background-color: bisque;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
    text-align: center;
    
}

.button-mid{
    align-items: center;
    background-color: rgba(165, 137, 190, 0.849);
    border-radius: 10px;
    border-width: 0px;
    color: azure;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 70px;
    justify-content: center;
    margin-left: 43%;
    text-align: center;
    width: 150px;
}

/* I am not sure if I am allowed to use this. I found it on stackoverflow, but I understand what it does. */
::placeholder{
    font-size: 20px;
    text-align: center;
}

/* section-3-donatation-plan */

.text-format-para-3{
    height: 200px;
    text-align: left;
    width: 300px;
}
.d-plan-org{
    display: flex;
    height: 20%;
    margin-left: 6%;
    padding-left: 5%;
    padding-top: 100px;
    width: 30%;
}

.plan-box{
    background-color: rgba(202, 189, 173, 0.233);
    border: 1px solid black;
    display: block;
    height: 300px;
    margin-inline: 20px;
    padding-left: 20px;
    padding-top: 30px;
    width: 500px;
    
}

/* bonus---part----counters adn others */

.bonus-counts{
    background-color: rgb(126, 102, 148);
    display: inline-block;
    height: 200px;
    margin-top: 20px;
    margin-top: 70px;
    padding-top: 20px;
    width: 100%;
}

.side-by-side{
    display: flex;
    margin-bottom: 200px;
    margin-inline: 2%;
    padding-inline: 2%;
    
}

.for-head-font{
    font-size: 40px;
}
.for-para-font{
    font-size: 20px;
}

.divide-sec{
    align-self: center;
    color: azure;
    display: block;
    height: 50px;
    justify-content: center;
    line-height: 10px;
    margin-left: 70px;
    margin-right: 20px;
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px black;
    width: 100px;
}

/* contribution part of section bonus */

.div-of-contribuition{
    background-color: rgba(131, 184, 184, 0.534);
    display: flex;
    height: 400px;
    margin-left: 6px;
    margin-top: 50px;
    width: 99%;
    
    
}

.img-crop{
    border: 2px solid rgba(78, 78, 51, 0.705);
    border-radius: 5px;
    height: 300px;
    margin-left: 20px;
    margin-top: 40px;
    width: 300px;
     
}

.dis-img{
    font-size: 15px;
    font-weight: 550;
    height: 100px;
    margin-top: 70px;
    padding-left: 10px;
    width: 320px; 
}

.contri-button{
    align-items: center;
    background-color: rgba(70, 61, 78, 0.849);
    border-radius: 10px;
    border-width: 0px;
    color: azure;
    display: flex;
    font-size: 25px;
    font-weight: 700;
    height: 80px;
    justify-content: center;
    margin-left: 40%;
    margin-top: 40px;
    text-align: center;
    width: 280px;
      
}

/* get--my--updates */

#email-box{
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    margin-right: 0px;
    text-align: center;
    width: 250px;

}

#sub-box{
    background-color: rgba(204, 75, 75, 0.795);
    border: 0px;
    color: rgb(218, 197, 168);
    font-size: 15px;
    font-weight: 700;
    height: 46px;
    margin-left: 0px;
    text-align: center;
    width: 150px;
}
.update-box{
    align-items: center;
    background-color: rgba(164, 164, 192, 0.411);
    display: flex;
    height: 250px;
    justify-content: center;
    margin: 50px 0px 50px 25% ;
    width: 50%;
}

/* footer ---- I love kung fu panda */

footer{
    background-color: rgb(35, 35, 58);
    color: antiquewhite;
    display: block;
    font-size: 20px;
    height: 120px;
    padding-bottom: 30px;
    padding-top: 15px;
    text-align: center ;
    text-shadow: 2px 2px rgb(138, 78, 78);
    width: 100%;
    
}
#footer-2-t{
    font-size: 15px;
}